@use './partials/_variables' as *;
@import '~bootstrap/scss/bootstrap';

header,
footer{
    background-color: $primary-color;
    height: 20vh;
    position: sticky;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
header{
    background-image: url('../img/bg-header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .logo-wrapper{
        color: white;
        display: flex;
        gap: 20px;
        justify-content: center;
        img{
            object-fit: contain;
        }
        h1{
            font-size: 60px;
            text-shadow: 2px 2px 2px $primary-color;
        }
    }
    .nav-wrapper{
        display: flex;
        justify-content: center;
        ul{
            display: flex;
            gap: 20px;
        }
    }
}
main{
    height: 60vh;
    overflow-y: auto;
}
footer{
    background-image: url('../img/bg-header.png');
    background-position: center;
}
.ms-container{
    width: 80%;
    margin: 0 auto;
}
a{
    color: $primary-color;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 1px 1px black;
}
